body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

main {
  grid-area: main;
  display: flex;
  background-color: beige;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.container {
  display: grid;
  grid-template-rows: 10% 10% 70% 10%;
  grid-template-areas:
    "nav"
    "aside"
    "main"
    "footer";
  border: solid powderblue;
  height: 100vh;
}

.nav-mobil {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}
.select2 {
  color: #333333;
  background-color: #f6f4fa;
  border-color: #d8d8d8;
  border-width: 3px;
  border-style: solid;
  border-radius: 35px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11rem;
  border: solid yellow;
}

.card img {
  width: 70%;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
button {
  text-decoration: none;
  color: #333333;
  background-color: #9a5cfd;
  border-color: #d8d8d8;
  border-width: 3px;
  border-style: solid;
  border-radius: 35px;
}

@media (min-width: 576px) {
  .container {
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
      "nav-pc select"
      "nav-pc main"
      "footer main";
  }

  .select {
    grid-area: select;
    background-color: lightgreen;
  }

  main {
    grid-area: main;
  }
  .card-container {
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    justify-content: center;
    align-items: center;
  }
  .nav-pc {
    grid-area: nav-pc;
    background-color: blue;
  }

  footer {
    grid-area: footer;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .nav-mobil {
    display: none;
  }
}

@media (max-width: 575px) {
  .card2 {
    display: none;
  }
  .list {
    display: none;
  }
}
